<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary2.Properties.Settings.twitterConnectionString"
            connectionString="Data Source=.;Initial Catalog=twitter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>